<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.dragonic.tone.streamer">

    <!-- To capture video/audio from your camera. -->
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- To, you know, stream stuff? Over the network? -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
         Required for the MediaEncoder hack - we're basically "recording" video much like a regular
         camera app would, except that we're recording to a parcel file that we also read all the
         time. See libstreaming docs on this. TODO: Implement local video recording with these.
    -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To prevent the device from going to sleep/slowing down while streaming. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!-- To handle network disconnections gracefully and restart streams automatically. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--
         Allows auto-muting the device while streaming. Notification policy is required to
         ACTUALLY mute stuff - setting the ringer state to silent will leave vibrations on.
    -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_label"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StreamingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_label"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".StreamingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.dragonic.tone.streamer.StreamingActivity" />
        </activity>
        <service android:name="net.majorkernelpanic.streaming.rtsp.RtspServer" />
    </application>

</manifest>